*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.header-left{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.address{
    padding: 20px 30px;
}
.address h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.address p{
    font-size: 14px;
}
.searchbox{
    flex-grow: 1;
    border: 1px solid #f4f4f4;
    background-color: #f8f8f8;
    border-radius: 15px;
    display: flex;
}
.searchbox button{
    padding: 15px;
    border: none;
    background: transparent;
}
.searchbox input{
    flex-grow: 1;
    border: none;
    background: transparent;
}
.header-btn{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
.header-btn button{
    padding: 15px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}
.header-btn .cart{
    background-color: #f4f4f4;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
}
/*Banner*/
.banner-section{
    max-width:1280px;
    margin:0px auto;
}
.banner-section img{
    width: 100%;
}
/*Oreder Section*/
.order-banner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.order-banner-items{
    flex-basis: 28%;
    margin: 1%;
}
.order-banner-items img{
    width: 100%;
}
/*Cateogry Section*/
.cateogry-section{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
 .cateogry-items{
    flex-basis: 10%;
 }
 .cateogry-items img{
    width: 100%;
 } 
 /*Product Section*/
 .product-section{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0;
  }
  .heading-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .heading-row h2{
    font-size: 22px;
  }
  .heading-row a{
    color: #328839;
    font-size: 18px;
    text-decoration: none;
  }
  .slider-btn{
    position: relative;
    overflow: hidden;
  }
  .product-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    flex-wrap: nowrap;
  }
  .product-row::-webkit-scrollbar {
    display: none;
  }
  .product-item {
    flex: 0 0 200px;
    border: 1px solid #fcfcfc;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px #ccc;
    background-color: #fff;
  }
  .product-img {
    text-align: center;
    padding: 15px;
  }
  .product-img p {
    background: #f8f8f8;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 5px auto 0;
  }
  .product-content {
    padding: 10px 15px 15px 15px;
  }
  .product-content h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  .product-content p {
    font-size: 14px;
    color: #848080;
  }
  .btn-price-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .btn-price-outer button {
    background-color: #f7fff9;
    padding: 5px 15px;
    border: 1px solid #328839;
    border-radius: 10px;
    cursor: pointer;
  }
  .left-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    left: 0;
  }
  .right-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    right: 0;
  }
/*Footer*/
footer{
    padding-top: 40px;
}
.footer-mid{
    max-width: 1280px;
    margin: auto;
}
.foot-mid1{
    width: 100%;
    display: flex;
    gap: 40px;
}
.foot-mid-left{
    flex-basis: 30%;
}
.foot-mid-left h3{
    margin-bottom: 20px;
}
.foot-mid-right{
    flex-basis: 70%;
}
.foot-left-links{
    display: flex;
}
.foot-left-links ul{
    flex-basis: 33%;
    list-style: none;
    margin-top: 2%;
}
.foot-left-links ul li a{
    text-decoration: none;
    font-size: 14px;
    display: block;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
}
.foot-cateogry{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;  
}
.foot-cateogry a{
    text-decoration: none;
    color: #328839;
    font-weight: bold;
}
.foot-cateogry .foot-left-links ul li a{
     gap: 12px;
}
.foot-mid2{
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}
.foot-mid2 p{
    flex-basis: 40%;
    text-align: center;
    font-size: 14px;
}
.app-icon{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot-mid3 p{
    color: rgb(102, 102, 102);
    padding: 20px 0px;
    font-size: 14px;
    line-height: 20px;
}
.social-links{
    display: flex;
    gap: 10px;
}
.social-links i{
    width: 40px;
    height: 40px;
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}