*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
*::selection{
    background-color: #ffd700;
}
body{
    background-color: rgb(21, 21, 21);
}
/*Header Section*/
header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    color: white;
    font-size: larger;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    animation: head 3s ease;
}
.name{
    font-size: 35px;
    letter-spacing: 1px;
    animation: gb 4s ease;
    
}
@keyframes head{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes gb{
    0%{
        transform: translateY(-600px);
    }
    100%{
        transform: translateX(0px);
    }
}
li{
    display: flex;
    float: inline-start;
    overflow: hidden;
}
li a{
    padding: 15px;
    display: block;
    color: white;
}
li a:hover{
    color: #ffd700;
}
.contct_btn{
    padding: 10px 30px;
    color: black;
    margin-left: 128px;
    background-color: #ffd700;
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.contct_btn:hover{
    color: white;
    border: 3px solid #ffd700;
    background: transparent;
}
.checkbtn{
    font-size: 30px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

/*Home Section*/
.home{
    padding: 220px 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.intro{
    padding-top: 20px;
}
.intro h1{
    font-size: 30px;
    font-weight: 700;
}
.intro h1 span{
    color: #ffd700;
    font-size: 55px;
}
.intro h2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
}
.intro h2 span{
    color: #ffd700;
    position: relative;
}
.intro h2 span::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    height: 100%;
    border-left: 4px solid #ffd700;
    background-color: rgb(21, 21, 21);
    animation: text 3s infinite backwards steps(10);
}
@keyframes text{
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
.intro p{
    width: 500px;
    margin-top: 20px;
    animation: para 2s ease;
}
@keyframes para{
    0%{
        transform: translateX(400px)
    }
    100%{
        transform: translateX(0px);
    }
}
.font i{
    margin: 25px 8px;
    border: 3px solid #ffd700;
    border-radius: 30%;
    padding: 13px;
    font-size: 20px;
    cursor: pointer;
    transition: .4s ease-in-out;
    animation: icons 2s ease;
}
@keyframes icons{
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}
.font i:hover{
    background-color: #ffd700;
    transform: translateY(-15px);
    box-shadow: 0px 0px 15px #ffd700;
}
.intro button{
    padding: 13px 20px;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg,#ffd700,#ed2279);
    cursor: pointer;
    border: none;
}
.home img{
    background-color: #ffd700;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #ffd700;
    filter: brightness(1.1);
    transition: .4s ease-in-out;
    animation: animate 2.5s ease-in-out forwards infinite;
}
.home img:hover{
    box-shadow: 0px 0px 50px #ffd700;
}
@keyframes animate{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
/*About Section*/
.about{
    background-image: url(https://img.freepik.com/free-photo/elevated-view-laptop-earphones-crumpled-papers-pencil-blank-spiral-notepad-frame-black-background_23-2148080331.jpg?semt=ais_hybrid&w=740);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 120px;
    height: 90vh;
    width: 100%;
}
.about h1{
    font-size: 50px;
    text-align: center;
    animation: about 4s infinite;
    padding-top: 4%;
}
@keyframes about{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
.about h2{
    text-align: center;
    animation: about1 4s infinite;
}
@keyframes about1{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
.about span{
    color: #ffd700;
}
.about-part{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.about-education{
    height: 350px;
    width: 45%;
    border-radius: 10% 30%;
    border: 3px solid #ed2279;
}
.about-education h3{
    text-align: center;
    font-weight: 800;
    color: #ffd700;
    font-size: 30px;
    padding-top: 5%;
}
.about-right{
    height: 350px;
    width: 45%;
    border-radius: 30% 10%;
    border: 3px solid #ed2279;
}
.about-right h3{
    text-align: center;
    font-weight: 800;
    color: #ffd700;
    font-size: 30px;
    padding-top: 4%;
}
.about-education p{
    color: #ed2279;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 350;
    margin-top: 13%;
}
.about-right p{
    color: #ed2279;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 350;
    margin-top: 13%;
}
/*Service Section*/
h1.service-heading{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    padding-top: 100px;
}
h1.service-heading span{
  color: #ffd700;
}
.card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
    margin: 70px;
    color: white;
}
.service_card{
    background-color: rgb(48,48,48);
    padding: 30px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
.service_card:hover{
    border: 2px solid #ffd700;
    background-color: #ffd9008c;
    transform: translateY(-20px);
}
.service_card i{
    font-size: 40px;
    color: #ffd700;
}
.service_card h2{
        font-size: 30px;
        margin-top: 10px;
}
.service_card p{
    margin: 10px 0px;
}
/*Skills Section*/
.skills{
    margin-bottom: 7%;
}
.front-section h2,.back-section h2{
    color: #ffd700;
    margin: 10px 18px;
    font-size: 30px;
    font-weight: 650;
    animation: skill 4s infinite;
}
@keyframes skill{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
    flex-wrap: wrap;
}
.classes{
height: 140px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;
padding: 2rem 1rem;
font-size: 1.2rem;
border-radius: 8px;
border: 3px solid #ffd700;
}
.classes i{
    padding-right: 3%;
}
.classes:hover{
    border: 2px solid #ffd700;
    background-color: #ffd9008c;
    transform: translateY(20px);
}
.back-section{
    margin-top: 4%;
}
/*Contact Section*/
.form h1{
    margin: 150px 0px 40px 0px;
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 80px;
}
.form h1 span{
    color: #ffd700;
}
.form input,textarea{
    width: 550px;
    margin: 10px 340px;
    padding: 15px;
    background-color: rgb(63, 63, 63);
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
}
.form .form_btn{
    padding: 15px 50px;
    font-size: 20px;
    background-color: #ffd700;
    margin: 1.5rem 33rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
}
.form .form_btn:hover{
  background: transparent;
  border: 2px solid #ffd700;
  color: white;
}
